/* Error: Missing argument $line-height.
 *   ,--> sass\component\_about-us.scss
 * 24|  @include font ($size:1.4rem, $height:2.6rem, $weight: 400);
 *   |  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *   '
 *   ,--> sass\abstract\_mixins.scss
 * 1 | @mixin font ($size, $line-height, $weight:bold, $style :normal ) {
 *   |        ========================================================= declaration
 *   '
 *   sass\component\_about-us.scss 24:2  font()
 *   sass\component\_about-us.scss 24:2  @import
 *   sass\style.scss 27:9                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $line-height.\a   \250c \2500 \2500 > sass\\component\\_about-us.scss\a 24\2502   @include font ($size:1.4rem, $height:2.6rem, $weight: 400);\d\a   \2502   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a   \2575 \a   \250c \2500 \2500 > sass\\abstract\\_mixins.scss\a 1 \2502  @mixin font ($size, $line-height, $weight:bold, $style :normal ) {\d\a   \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a   \2575 \a   sass\\component\\_about-us.scss 24:2  font()\a   sass\\component\\_about-us.scss 24:2  @import\a   sass\\style.scss 27:9                root stylesheet";
}
