.ico{
    cursor: pointer;
    display: inline-block;
}
.ico_play{
    background-image: url("../assets/button-icon/play.svg");
    width: 18px;
    height: 19px;
}
.icon-square{
    width: 50px;
    height: 50px;
    border-radius: 19px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &-violet {
        background-image: url(../assets/icon.svg/4.svg);
       
    }
    &-yellow {
        background-image: url(../assets/icon.svg/1.svg);
    }
    &-pink {
        background-image: url(../assets/icon.svg/2.svg);
    }
    &-blue {
        background-image: url(../assets/icon.svg/3.svg);
    }
}
.ico-phone{
    background-image: url(../assets/contact-us-icon/ico_phone.svg);
    width:25px;
    height: 25px;
   
}
.ico-letter{
    background-image: url(../assets/contact-us-icon/ico_mail.svg);
    width:25px;
    height: 25px;
}
