.contact-us{
    background-color: $color-background;
    padding: 62px 82px;
}
.contact-us__form{
   input, textarea{
     border: 1px solid $color-light;
     background-color: $color-light;
     padding: 10px 21px;
     border-radius: 5px;
     &:focus{
       border-color: $color-primary;
       outline: none;
     }
     
   }
   textarea{
    resize: none;
    width: 91%;
   }
}
.contact-us__line{
margin-bottom: 19px;
}
.contact-us__button{
    >*{
        min-width: 117px;
    }
}
.contact-us__title{
    margin: 0px;
}

.contact-us__text{
    max-width: 528px;
    padding-bottom: 33px;

}
.contact-uc__link{
    @include font (2.5rem, 2.6rem, $weight:400);
    padding-left: 11px;
    color: $color-text;
    text-decoration-line: none;

}