.tools-wrapper{
    padding-bottom: 90px;
    background-image: url(../assets/baground/bg-tool.svg);
    background-position: center bottom ;
    background-size: 100%;
    background-repeat: no-repeat;
    
}
.tools-title{
    max-width: 462px;
    margin: auto;
    text-align: center;
    margin-bottom: 70px;
}
.tool__title{
    margin: 0 0 16px;
}
.tool__icon{
    margin-bottom: 30px;
}
.tools__button{
    margin-top: 60px;
    text-align: center;
}