.contact-us{
    background-color: $color-background;
    margin: 0;
    padding: 62px 0 82px 0;
    @include media-tablet {
        text-align: center;
    }
    @include media-mobail{
        padding-top: 34px;
    }
}
.contact-us__conteiner{
    @include media-tablet{
        flex-direction: column;
    }
}
.contact-us__content{
  @include media-tablet{
    max-width: 100%;
  }
}
.contact-us__form{
   input, textarea{
     border: 1px solid $color-light;
     background-color: $color-light;
     padding: 10px 11px;
     border-radius: 5px;
     &:focus{
       border-color: $color-primary;
       outline: none;
     }
     
   }
   textarea{
    resize: none;
    width: 95%;
   }
}
.contact-us__line{
margin-bottom: 19px;
}
.contact-us__button{
    >*{
        min-width: 117px;
    }
}
.contact-us__title{
    margin: 0 0 17px 0;

}

.contact-us__text{
    max-width: 528px;
    padding-bottom: 33px;
    margin: 0;

}
.contact-uc__link{
    @include font (2.5rem, 2.6rem, $weight:400);
    padding-left: 11px;
    color: $color-text;
    text-decoration-line: none;

}
.contact-us__mobail{
    display: flex;
    flex-direction: column;
    width: 100%;
    >:first-child{
        margin-bottom: 16px;
    }
}