$color-primary: rgba(255, 153, 0, 1);
$color-aditional:rgba(255, 117, 73, 1);
$color-background:rgba(255, 238, 225, 1);
$color-link:rgba(25, 67, 239, 1);
$color-tag:rgba(245, 245, 245, 1);
$color-text:rgba(84, 72, 55, 1);
$color-heading:rgba(47, 40, 30, 1);
$color-border:rgba(215, 215, 215, 1);
$color-button-text:rgba(23, 58, 86, 1);
$color-hovered:rgba(188, 208, 229, 1);
$color-humburger: rgba(23, 58, 86, 1);
$color-overly: rgba(80, 80, 80, 0.4);

$color-violet:rgba(119, 82, 190, 1);
$color-yellow:rgba(250, 176, 5, 1);
$color-pink:rgba(240, 62, 61, 1);
$color-blue:rgba(77, 173, 247, 1);
$color-light: #ffffff;

$content-width: 1197px;
$tablet-width: 768px;
$mobail-big-width: 414px;
$mobail-smoll-width: 320px;
